{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>charaApps</title>
        {% endif %}
         <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="application/javascript" src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        <div class="header">
            <center>
                {% if title %}
                    <h1>{{ title }}</h1>
                {% else %}
                    <h1>charaApps</h1>
                {% endif %}
            </center>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
