<form method="post">
    <div class="filter-form">
        {% csrf_token %}
        <label class="form-group-title">単語検索</label>
        <div class="form-group row">
            <div class="col-md-12">
                <input class="form-control" type="text" id="word" name="word" value="{{ word }}" aria-describedby="wordHelp" placeholder="検索する単語を入力してください"></input>
                <small id="wordHelp" class="form-text text-muted">タイトルの中に指定した単語が含まれる物を抽出します。メンバー名や会場名をいれてみてください。</small>
            </div>
        </div>
        <label class="form-group-title">タイトルの指定</label>
        <div class="form-group row">
            {% for d in titles %}
            <div class="col-md-12">
                <div class="form-check">
                    {% if d.checked %}
                        <input class="form-check-input checkbox-input" type="checkbox" id="{{ d.id }}" name="titles" value="{{ d.value }}" checked="checked">
                    {% else %}
                        <input class="form-check-input checkbox-input" type="checkbox" id="{{ d.id }}" name="titles" value="{{ d.value }}">
                    {% endif %}
                    <label class="checkbox-label" for="{{ d.id }}" style="width:100%">{{ d.display }}</label>
                </div>
            </div>
            {% endfor %}
        </div>
        <label class="form-group-title">当落条件の指定</label>
        <div class="form-group row justify-content-around">
            {% for d in status_codes %}
            <div class="col-md-4">
                <div class="form-check text-center">
                    {% if d.checked %}
                        <input class="form-check-input checkbox-input" type="checkbox" id="{{ d.id }}" name="status_code" value="{{ d.value }}" checked="checked">
                    {% else %}
                        <input class="form-check-input checkbox-input" type="checkbox" id="{{ d.id }}" name="status_code" value="{{ d.value }}">
                    {% endif %}
                    <label class="checkbox-label" for="{{ d.id }}">{{ d.name }}</label>
                </div>
            </div>
            {% endfor %}
        </div>
        <label class="form-group-title">表示順序</label>
        <div class="form-group row justify-content-center">
            <div class="col-md-4 text-center align-middle">
                {% if reverse %}
                    <input type="checkbox" data-toggle="switchbutton" data-size="lg" data-width="300" data-onlabel="降順に並び替える" data-offlabel="昇順に並び替える" checked>
                {% else %}
                    <input type="checkbox" data-toggle="switchbutton" data-size="lg" data-width="300" data-onlabel="降順に並び替える" data-offlabel="昇順に並び替える">
                {% endif %}
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-md-4 text-center align-middle">
                <input type="submit" class="btn btn-lg btn-primary m-3" name="submit" id="submit" value="表示を切り替える"></input>
            </div>
        </div>
    </div>
</form>
