<form method="post">
    <div class="filter-form">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="status_code0" name="status_code" value="0">
                    <label class="form-check-label" for="status_code0">当選</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="status_code1" name="status_code" value="1">
                    <label class="form-check-label" for="status_code1">落選</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="status_code2" name="status_code" value="-1">
                    <label class="form-check-label" for="status_code2">抽選待ち</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <input type="submit" class="btn btn-primary m-3" name="submit" id="submit" value="表示を切り替える"></input>
            </div>
        </div>
    </div>
</form>
