{% extends 'base.html' %}
{% block content %}
<div class="card border-primary mb-3">
    <h3 class="card-header">charaViewer</h3>
    <div class="card-body">
        <p class="card-text">某兄さんをいい感じに表示するWebアプリです。</p>
        <a href="{% url 'viewer_top' %}" class="btn btn-primary">charaViewer</a>
    </div>
</div>
<div class="card border-primary mb-3">
    <h3 class="card-header">charaPoster</h3>
    <div class="card-body">
        <p class="card-text">某兄さんの注文を代行するWebアプリです。</p>
        <a href="{% url 'poster_top' %}" class="btn btn-primary">charaPoster</a>
    </div>
</div>
{% endblock %}
