{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>某兄さんをいい感じに集計していい感じに出力します。</h1>
    </div>
</div>
{% if error %}
<div class="row">
    {{ error }}
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group login-form">
                {% csrf_token %}
                <label for="username">ユーザー名</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="ユーザー名を入れてください"></input>
                <label for="password">パスワード</label>
                <input type="password" class="form-control" name="password" id="password" aria-describedby="policy" placeholder="パスワードを入れてください"></input>
                <small id="policy"class="form-text text-muted">パスワードは保存されません</small>
                <label>集計するページ数</label>
                <input type="number" class="form-control" name="page" id="page" value="4" min="1" aria-describedby="pageDescribe"></input>
                <small id="pageDescribe"class="form-text text-muted">多いほど過去の情報も集計できますが、集計にかかる時間も増えます</small>
                <input type="submit" class="btn btn-primary m-3" name="submit" id="submit" value="ログインしてデータを取得"></input>
            </div>
        </form>
    </div>
</div>
{% endblock %}
