{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>某兄さんをいい感じに集計していい感じに出力します。</h1>
    </div>
</div>
{% if error %}
<div class="row">
    {{ error }}
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <table id="maintable" class="table maintable">
            <thead>
                <th class="col-md-8">タイトル</th>
                <th class="col-md-2">当落</th>
                <th class="col-md-2">枚数</th>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.name }}</td>
                    <td>{{ d.status }}</td>
                    <td>{{ d.num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
