@font-size-base:  18px;
@margin-base: 10px;
@thema-color: #FFAAAA;


.header {
    background: darken(@thema-color, 5%);
}

.login-form {
    margin: @margin-base;
    padding: @margin-base;
    border: solid 3px darken(@thema-color, 10%);
    border-radius: 10px;
    box-shadow: 5px 5px #CCCCCC;
}

.filter-form {
    &:extend(.login-form);
}

.form-group-title {
    font-size: calc(@font-size-base * 1.5);
    border-bottom: double 6px darken(@thema-color, 10%);
    vertical-align: middle;
}

@import "./maintable.less";
@import "./checkbox.less";
@import "./toggle-switch.less";
