[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
django = "*"
pychara = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.6"

[scripts]
build-env = "pipenv sync"
test = "pytest tests"
lint = "flake8 aggregater"
server = "python manage.py runserver"
migrate = "python manage.py migrate"
