{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-auto">
            <input id="num" type="number" class="form-control m-3" min="0" name="num" value="1" required></input>
        </div>
        <div class="col-auto">
            <h3 class="m-3">回</h3>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary m-3">申し込み実行</button>
        </div>
    </div>
    <table class="table maintable">
        <thead>
            <th class="col-md-4">日付</th>
            <th class="col-md-4">メンバー</th>
            <th class="col-md-2">枚数</th>
        </thead>
        <tbody>
            {% for n in maxItems %}
            <tr>
                <td>
                    <div id="date">
                        <select class="form-control" name="date-{{n}}" id="date-{{n}}">
                            <option selected value="0"></option>
                            {% for d in data %}
                            <option value="{{ d.value }}">{{d.text}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div id="name">
                        <select class="form-control" name="name-{{n}}" id="name-{{n}}">
                            <option selected></option>
                            <option>中村</option>
                            <option>中井</option>
                        </select>
                    </div>
                </td>
                <td>
                    <input class="form-control" type="number" min="0" max="10" name="num-{{n}}" id="num-{{n}}"></input>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<script type="application/javascript">
    const api_endpoint = "{% url 'api_date' %}";
</script>
<script type="application/javascript" src="{% static 'js/fetch_items.js' %}"></script>
{% endblock %}
