{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>某兄さんをいい感じに集計していい感じに出力します。</h1>
    </div>
</div>
{% if error %}
<div class="row">
    {{ error }}
</div>
{% endif %}
{% include "viewer/filterform.html" %}
{% if data|length == 0 %}
<h3 class="text-center">該当するエントリーはありませんでした。</h3>
{% else %}
<div class="row">
    <div class="col-md-12">
        <div class="total">ヒットした枚数の合計： <span class="total-num">{{ total }}枚</span></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="maintable" class="table maintable">
            <thead>
                <th class="col-md-8">タイトル</th>
                <th class="col-md-2">当落</th>
                <th class="col-md-2">枚数</th>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.name }}</td>
                    <td>{{ d.status }}</td>
                    <td>{{ d.num }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
